:host ::ng-deep ngb-pagination {
    .page-link {
        color: #5e6383;

        &:focus {
            z-index: 2;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(54, 163, 247, 0.25);
        }

    }

    .page-item.active .page-link {
        background-color:#36a3f7;
        border-color: #36a3f7;
    }
}

.m-datatable__pager-info { margin-top: 20px!important; }

.m_datatable.m-datatable.m-datatable--default.m-datatable--loaded.fixed-height {
    max-height: 390px;
    padding-right: 20px;
    
    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: transparent;
        width: 15px;
      }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
        position: relative;
        left: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #d9d9d9;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #d9d9d9;
    }
}