<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ header }}
      </h3>
      <a [routerLink]="['create']" class="btn btn-info m-btn">
        New
      </a>
    </div>
    <div>
      <app-search></app-search>
    </div>
  </div>
</div>

<app-portlet>
  <div class="m-portlet__body">
    <app-table
      [total]="total"
      [currentPage]="currentPage"
      [from]="from"
      [to]="to"
      (paged)="paginate($event)">

      <thead class="m-datatable__head">
        <tr class="m-datatable__row" style="left: 0">
          <th class="m-datatable__cell"><span style="width: 150px">Criminal Name</span></th>
          <th class="m-datatable__cell"><span style="width: 150px">Committed Crime</span></th>
          <th class="m-datatable__cell"><span style="width: 150px">Filed Case</span></th>
        </tr>
      </thead>
  
      <tbody class="m-datatable__body">
        <tr *ngIf="!data" class="m-datatable__row text-center">
          <td *ngIf="!state" class="m-datatable__cell">No Data Found</td>
          <td *ngIf="state" class="m-datatable__cell">Loading results...</td>
        </tr>

        <tr *ngFor="let row of data" class="m-datatable__row m-datatable__row-link" (click)="viewDetail(row?.id)" style="left: 0">
          <td class="m-datatable__cell">
            <span style="width: 150px">
              <a [routerLink]="['detail', row?.id]" class="m-datatable__cell-link">
                {{ row?.name }}
              </a>
            </span>
          </td>
          <td class="m-datatable__cell">
            <span style="width: 150px">
              <a [routerLink]="['/crimes', 'detail', row?.crime?.id]" target="_blank" class="m-datatable__cell-link" (click)="$event.stopPropagation()">
                {{ row?.crime?.name }}
              </a>
            </span>
          </td>
          <td class="m-datatable__cell">
            <span style="width: 150px">
                <a [routerLink]="['/filed-cases', 'detail', row?.filed_case?.id]" target="_blank" class="m-datatable__cell-link" (click)="$event.stopPropagation()">
                  {{ row?.filed_case?.title }}
                </a>
            </span>
          </td>
        </tr>
      </tbody>

    </app-table>    
  </div>
</app-portlet>