<div class="row">
  <div class="col-md-4">
    <form [formGroup]="formGroup" (ngSubmit)="submiForm(formGroup.value)" (keyup.enter)="$event.stopPropagation()" class="form" novalidate>
      <p class="mb-1">New Document</p>

      <div class="form-group">
        <small>Filename</small>
        <input formControlName="title" type="text" class="form-control form-control-sm">
      </div>

      <div class="form-group">
        <small class="d-block">Upload File</small>
        <input formControlName="file" type="file" ng2FileSelect [uploader]="uploader">
      </div>

      <div *ngIf="!uploading" class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </div>
      <ng-container *ngIf="uploading">
        <i class="fa fa-spinner fa-spin"></i> &nbsp; Uploading file...
      </ng-container>  
    </form>
  </div>

  <div class="offset-md-2 col-md-6">
    <app-table>
      <thead class="m-datatable__head">
        <tr class="m-datatable__row" style="left: 0">
          <th class="m-datatable__cell"><span style="width: 150px">File</span></th>
          <th class="m-datatable__cell"><span style="width: 200px">Action</span></th>
        </tr>
      </thead>

      <tbody class="m-datatable__body">
        <tr *ngIf="documents && documents.length == 0" class="m-datatable__row text-center">          
            <td class="m-datatable__cell">No File Found</td>
        </tr>

        <tr *ngFor="let row of documents" class="m-datatable__row" style="left: 0">
          <td class="m-datatable__cell">
            <span style="width: 150px">{{ row?.title }}</span>
          </td>

          <td class="m-datatable__cell">
            <span style="width: 200px">
              <button class="btn btn-info btn-sm mr-2" type="button" (click)="downFile(row)" [disabled]="deleting || downloading">
                <i class="fa" [class.fa-download]="!downloading" [class.fa-spinner.fa-spin]="downloading"></i>
              </button>
              <button class="btn btn-danger btn-sm" type="button" (click)="deleteFile(row)" [disabled]="downloading || deleting">
                  <i class="fa" [class.fa-trash]="!deleting" [class.fa-spinner.fa-spin]="deleting"></i>
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </app-table>
  </div>
</div>