<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ data?.name | titlecase  }}
        <span *ngIf="!data">{{ header }} Detail</span>
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline"> 
        <li class="m-nav__item">
          <a routerLink="../../" class="m-nav__link">
            <span class="m-nav__link-text">{{ header }}</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">              
          <span class="m-nav__link-text">
            {{ data?.name | titlecase }}
            <span *ngIf="!data">{{ header }} Detail</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <p class="mt-4" *ngIf="!data"><i class="fa fa-spin fa-spinner"></i> Loading result...</p>
</div>

<app-portlet>
  <app-dynamic-form
    *ngIf="data"
    [title]="title"
    [data]="data"
    [config]="config"
    (submitted)="update($event)"
    (deleted)="delete($event)">
  </app-dynamic-form>
</app-portlet>