<div 
  [ngClass]="{ 'has-danger': group.controls[config?.name].errors && group.controls[config?.name].touched}"
  [formGroup]="group" 
  class="form-group">
    <label>{{ config?.label }} <ng-container *ngIf="config?.optional">(Optional)</ng-container></label>
    <input
      type="text"
      class="form-control m-input"
      autocomplete="new-password"
      [attr.placeholder]="config?.placeholder"
      [formControlName]="config?.name"
      [maxlength]="config?.maxLength">

    <div *ngIf="group.controls[config?.name].errors && group.controls[config?.name].touched">
      <small *ngIf="group.controls[config?.name].errors.required" class="form-control-feedback">{{ config?.label }} is required</small>
    </div>
</div>