<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ data?.title | titlecase  }}
        <span *ngIf="!data">{{ header }} Detail</span>
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline"> 
        <li class="m-nav__item">
          <a routerLink="../../" class="m-nav__link">
            <span class="m-nav__link-text">{{ header }}</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">              
          <span class="m-nav__link-text">
            {{ data?.title | titlecase }}
            <span *ngIf="!data">{{ header }} Detail</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <p class="mt-4" *ngIf="!data"><i class="fa fa-spin fa-spinner"></i> Loading result...</p>
</div>

<app-portlet *ngIf="data">
  <div class="m-portlet__body">
    <ul class="nav nav-tabs  nav-tabs-line" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#general" role="tab" aria-selected="true">General</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#supporting_documents" role="tab" aria-selected="false">Supporting Documents</a>
      </li>
    </ul>                        
    <div class="tab-content">
        <div class="tab-pane active" id="general" role="tabpanel">
          <app-dynamic-form
            [title]="title"
            [data]="data"
            [config]="config"
            (submitted)="update($event)"
            (deleted)="delete($event)">
          </app-dynamic-form>            
        </div>
        <div class="tab-pane pr-5 pl-5 pt-3" id="supporting_documents" role="tabpanel">
          <app-supporting-document [fileCaseID]="data?.id" [documents]="data?.documents"></app-supporting-document>
        </div>
    </div>
  </div>
</app-portlet>